<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="fileWathcerSection"
      type="SystemFileWatcher.FileWatcherSection,  SystemFileWatcher"
      />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <fileWathcerSection appName ="FourthHomeTask">
    <cultures>
      <culture name="English" value="en-US"/>
      <culture name="Russian" value="ru-RU"/>
    </cultures>
    <defaultFolder path ="D:\Example\Default\"/>
    <folders>
      <folder path ="D:\Example"/>
      <folder path ="D:\Example2"/>
    </folders>
    <templates>
      <template regularExpression =".mp3$" destinationFolder="D:\Example\music\" addSerialNumber ="true" addDateTransfer ="false"/>
      <template regularExpression =".ini$" destinationFolder="D:\Example\ini\" addSerialNumber ="false" addDateTransfer ="true"/>
      <template regularExpression =".txt$" destinationFolder="D:\Example\txt\" addSerialNumber ="false" addDateTransfer ="false"/>
    <template regularExpression =".sql$" destinationFolder="D:\Example\queries\" addSerialNumber ="false" addDateTransfer ="false"/>
    </templates>
  </fileWathcerSection>
</configuration>